// COLORS
$black-color: #000;
$color-red: #f0705a;
$color-white: #fff;
$color-light-grey: #f5f5f5;
$color-dark-grey-01: #252525;
$color-dark-grey: #333;

// MESURES
$navigation-height: 60px;
$max-navigation-width: 1352px;
$columb-gap: 16px;

// FONTS
$header-font-family: "Panenka", "Panenka-fallback", sans-serif;

// SPECIAL
