@import "./colors";

header.main-header {
  position: sticky;
  top: 0;
  inset-inline: 0;
  z-index: 2000;
  background-color: $black-color;

  .top-nav {
    height: 60px;
    background-color: $black-color;
    position: relative;
    color: $color-white;
    border-bottom: 4px solid $color-red;

    .top-wrapper {
      padding: 0 16px;
      max-width: 1352px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;

      img {
        height: 52px;
        width: 100px;
      }

      .login {
        margin-left: auto;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          border-inline-end: 1px solid $color-mid-grey;
          width: 1px;
          height: 32px;
          margin-inline-start: 8px;
          font-size: 16px;
          text-align: center;
          white-space: nowrap;
          font-weight: 600;
          font-family: inherit;
        }

        a {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          padding: 4px 12px;

          h3 {
            margin: 0;
          }
        }
      }

      .menu-icon {
        margin: 20px 0;
        width: 20px;
        height: 14px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
        border: none;

        span {
          background-color: $color-white;
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          transition: all 0.3s ease;

          &:first-child {
            top: 0;
          }

          &:nth-child(2) {
            top: 6px;
          }

          &:last-child {
            top: 12px;
          }
        }

        &.clicked {
          span {
            &:nth-child(2) {
              left: 30px;
            }
            &:first-child,
            &:last-child {
              top: 6px;
            }
            &:first-child {
              transform: rotate(45deg);
            }
            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        z-index: -1;
        position: fixed;
        inset: 0;
        padding: 24px 16px;
        overflow: auto;
        background-color: $color-dark-grey-01;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        top: 60px;

        li {
          a {
            height: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 700;
            font-size: 18px;
            color: white;
            transition: 0.3s;

            &:hover {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
